@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

.ag-theme-alpine {
  --ag-control-panel-background-color: rgb(247, 243, 244);
  --ag-side-button-selected-background-color: rgb(243, 243, 243);
  --ag-selected-tab-underline-color: blue;
  --ag-selected-tab-underline-width: 2px;
  --ag-selected-tab-underline-transition-speed: 0.5s;
  --ag-side-bar-panel-width: 300px;
}
